<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portfolio Resume</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Cardo:400,400italic,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.css">
    <link rel= "stylesheet" href= "./../static/styles/style.css">
    <script src="https://kit.fontawesome.com/2adf90f7b0.js" crossorigin="anonymous"></script>


  </head>
  <body>
    <section id="intro" style="background-image: url('../static/images/Background.jpg');" class="intro">       
      <div class="overlay"></div>
      <div class="content">
        <div class="container clearfix">
          <div class="row">
            <div class="col-lg-8 col-md-12 mx-auto">
              <p class="italic"><span>BrianZanayed@gmail.com | </span><span><a href="LinkedIn.com/BrianZanayed/" class="nav-link2"><i class="fa fa-linkedin"></i> LinkedIn | </a></span><span><a href="https://github.com/BrianZ93" class="nav-link2"><i class="fa fa-github"></i> github.com/BrianZanayed |</a></span><span> (708) 257-4957</span></p>
              <h1 class="mainheadertext">Brian Zanayed</h1>
              <p class="paragraph">Programmer, Grappler, Dog Lover, Student</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- intro end-->
    <!-- about-->
    <section>
      <div id="about" class="aboutmecontainer">
        <div class="aboutrow">
          <div>
            <h2 class="aboutheading">About me</h2>
            <p class="italic2">" One of the secrets to staying young is to always do things you don't know how to do, to keep learning."</p>
            <p class="aboutlead">-Ruth Reichl</p>
            <p class="aboutmain">The most important thing to me is that I keep learning and engaging with new concepts. I have always enjoyed studying ever-evolving disciplines like Jiu-Jitsu, cooking, philosophy and now coding! During my banking career I learned about the business and consumer side of sales, marketing and operations while helping my clients achieve their financial goals.</p>
          </div>
        </div>
        <div class="aboutrow2">
          <div>
            <img src="../static/images/profile_pic.jpg" alt="" class="aboutimg">
          </div>
        </div>  
      </div>
    </section>
    <!-- about end-->
    <!-- Services-->
    <section id="skills" style="background-color: #eee">
      <div class="container">
        <div>
          <div class="col-lg-12">
            <h2 class="skillsheading">Skills</h2>
            <div>
              <div class="col-md-4">
                <div class="box">
                  <div class="icon"><i class="fa fa-globe"></i></div>
                  <h5>Webdesign</h5>
                  <p>HTML, CSS, JavaScript, React, Bootstrap, TypeScript</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box">
                  <div class="icon"><i class="fa fa-microchip"></i></div>
                  <h5>Back End</h5>
                  <p>Python, Flask</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box">
                  <div class="icon"><i class="fa fa-database"></i></div>
                  <h5>Data & Certifications</h5>
                  <p>SQL, expected AWS Certified Developer June 2022, Heroku, Docker</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box">
                  <div class="icon"><i class="fa fa-briefcase"></i></div>
                  <h5>Business Experience</h5>
                  <p>Background in financial services on retail and operations levels.</p>
                  <p>Mortgage Lending, Retail Banking, Corporate Actions, Investment Reporting, Real Estate Management & Investment</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services end-->

    <!-- Portfolio -->
    <section id="portfolio">
      <div class="portfoliocontainer">
        <div>
          <div>
            <div>
              <div>
                <h2 class="portfolioheading">Notable Portfolio Projects</h2>
                <p class="portfoliogitlink"><a href="https://github.com/BrianZ93">My Github</a></p>
              </div>
            </div>
            <div>
              <div>
                <div class="portfoliobox">
                    <a href="https://github.com/BrianZ93/reactDogSittingSite" target="_blank" class="portfoliolink">Dogsitting Website Code</a>
                    <br>
                    <a href="https://jennifers-dogsitting-site.web.app/" target="_blank" class="portfoliolink2">Hosted Website</a>
                    <br>
                    <p1 class="projectdesc">This website was created for a dogsitting website. The goal was to allow clients to see availability, contact the owner, and get more information on the services provided.</p1>
                    <br>
                    <br>
                    <p2 class="projectdesc2">Front End: React.JS</p2>
                    <br>
                    <p2>Back End: Python/Flask</p2>
                    <br>
                    <p2>Hosted On: Firebase</p2>
                </div>
                <div class="portfoliobox">
                    <a href="#" class="portfoliolink">Coming Soon: Real Estate Management Company Site</a>
                    <br>
                    <a href="#" target="_blank" class="portfoliolink2">Hosted Website</a>
                    <br>
                    <br>
                    <p1 class="projectdesc">This website was created for a dogsitting website. The goal was to allow clients to see availability, contact the owner, and get more information on the services provided.</p1>
                    <br>
                    <br>
                    <p2 class="projectdesc2">Front End: React Typescript</p2>
                    <br>
                    <p2>Back End: Java</p2>
                    <br>
                    <p2>Hosted On: Heroku</p2>
                </div>
                <div class="portfoliobox">
                  <a href="#" class="portfoliolink">This Portfolio</a>
                  <br>
                  <br>
                  <p2 class="projectdesc2">Front End: HTML/CSS</p2>
                  <br>
                  <p2>Back End: Flask/Docker</p2>
                  <br>
                  <p2>Hosted On: Heroku</p2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Portfolio / gallery end-->
    <!-- text page-->
    <section id="text" class="text-page section-inverse">
      <div class="container">
        <div>
          <div>
            <h2 class="finalheading">Find Me</h2>
            <div>
              <div class="socialsrow">
                <ul class="socials">
                  <li class="socialitems">
                    <a href="LinkedIn.com/BrianZanayed/" class="sociallinks"><i class="fa fa-linkedin"> LinkedIn</i></a>
                  </li>
                  <li class="socialitems">
                    <a href="https://github.com/BrianZ93" class="sociallinks"><i class="fa fa-github"> Github</i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- text page end-->
    <footer style="background-color: #111;">
      <div class="container"> 
        <div class="row copyright">
          <div class="col-md-6">
            <p class="mb-md-0 text-center text-md-left">&copy; Brian Zanayed</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>